<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="content">
		
		<div class="well well-sm">Accounts Summary</div>
		
		<table class="table table-bordered">
			<thead class="text-center">
				<tr>
					<th>Account No</th>
					<th>Account Type</th>
					<th>Currency</th>
					<th>Balance</th>
					<th>Stauts</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="acc : ${accounts}">
			        <td th:text="${acc.accountNo}"></td>
			        <td th:text="${acc.accountType}"></td>
			        <td th:text="${acc.currency}"></td>
			        <td th:text="${acc.balance}"></td>
			        <td th:text="${acc.status}"></td>
			    </tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>