<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	<title>E-Corporate</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/ecorporate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery-ui.min.css}">
	<script th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script th:src="@{/resources/js/ecorporate.js}"></script>
	
	<!-- Bootstrap resources -->
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body id="ecorp-body">

	<div th:replace="common/header :: header">
	</div>

	<div class="container-fluid">
		<div class="row">
			
			<!-- empty column -->
			<div class="col-sm-1"></div>
			
			<!-- Navigation -->
			<div class="col-sm-2">
				<div th:replace="common/services-nav :: services-nav"></div>
			</div>
			
			
			<!-- content fragment -->
			<div class="col-sm-8 shadow white-bg">
				<div th:replace="${view} :: content">Content</div>
			</div>
			
			<!-- empty column -->
			<div class="col-sm-1"></div>
			
		</div>
	</div>
	
	<div th:replace="common/footer :: footer">
	</div>

</body>
</html>