<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="landing-page-jumbotron" class="jumbotron container-fluid" th:fragment="header" 
	th:with="currUser = ${#httpServletRequest.userPrincipal?.name}">
		
		<div style="float: left;">
			<span class="main-title">E-Corporate</span>
		</div>
		
		<div style="float: left; padding: 15px;">
			<span th:text="#{label.welcome}"></span>&nbsp;<span th:text="${currUser}">No User</span></br>
			<b><span th:text="#{label.lastLogin}">Last login</span></b><span> : 07/05/2017 9:42 PM</span>
		</div>
		
	</div>
</body>
</html>