<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	<title>E-Corporate</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/ecorporate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery-ui.min.css}">
	<script th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	
	<!-- Bootstrap resources -->
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
</head>
<body>

	<div class="jumbotron">
		<h1>E-Corporate</h1>
		<p>A comprehensive e-banking solution for corporate clients</p>
	</div>

	<div class="container">
	
		<div class="row">
			
			<div class="col-sm-3">
				<ul>
					<li><button type="button" class="btn btn-link">Sign Up</button></li>
					<li><button type="button" class="btn btn-link">Forget Password</button></li>
					<li><button type="button" class="btn btn-link">Change Language</button></li>
				</ul>
			</div>
			
			<div class="col-sm-9 left-border">
				<h2 class="page-header">Initial Page</h2>
			
				<form id="admin-login-form" action="#" th:action="@{#}" th:object="${adminLoginFB}" method="post">
					
					<div class="form-group">
						<label for="inputUsername">Username</label>
						<input type="text" id="inputUsername" class="form-control" th:field="*{username}" placeholder="Username">
					</div>
					
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input type="password" id="inputPassword" class="form-control" th:field="*{password}" placeholder="Password">
					</div>
					
					<input type="submit" name="_eventId_confirm" value="Confirm" />
					<input type="submit" name="_eventId_home" value="Cancel" />
					
				</form>
			</div>
		</div>
			
	</div>
	
	<footer class="container-fluid">
		<p class="text-center">© 2017 softsoft eBanking Solutions Inc.</p>
	</footer>

</body>
</html>