/* eCorporate custom css */

#ecorp-body {
	font-family: tahoma, arial, sans-serif;
	background-color: #f9f9f9;
	font-size: 9pt;
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
	margin-top: 30px;
}

.white-bg {
	background-color: #ffffff;
}

#admin-login-form {
	padding-bottom: 20px;
}

.left-border {
	border-left: 1px solid #959595;
}

#login-page-links {
	padding: 0px;
}

#landing-page-jumbotron {
	padding-bottom: 15px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.main-title {
	font-size: 60px;
	padding-right: 15px;
	border-right: 1px solid black;
}

.shadow {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	padding: 5px;
	margin: 5px;
}

.trans-summary {
	width: 100%;
}

.trans-summary td {
	padding: 3px;
}

.key {
	text-align: right;
	font-weight: bold;
}

.value {
	color: green;
}

.square {
	margin: 1px;
	width: 10px;
	height: 10px;
	border: 0.5px solid #000;
	background-color: green;
	float: right;
}

.square-empty {
	margin: 1px;
	width: 10px;
	height: 10px;
	border: 0.5px solid #000;
	float: right;
}

thead tr, #accordion .ui-state-active {
	border: 1px solid #16334e;
    background: #245580;
    font-weight: bold;
    color: #fff;
}

tbody tr:hover {
	background-color: #eee;
}

td .btn {
	padding: 2px 12px;
}

.no-wrap {
	white-space: nowrap;
}