<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head >
	<title>E-Corporate</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/ecorporate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery-ui.min.css}">
	<script th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	
	<!-- Bootstrap resources -->
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
</head>
<body>

	<div class="jumbotron">
		<h1>E-Corporate</h1>
		<p>Corporate Site Key</p>
	</div>

	<div class="container">
		<div class="row">
			
			<!-- site key links -->
			<div class="col-sm-4">
				<div id="login-content-left-sec">
					<ul>
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">Forget Password</a></li>
						<li><a href="#">Change Language</a></li>
					</ul>
				</div>
			</div>
			
			<!-- content fragment -->
			<div class="col-sm-6 left-border">
				<div layout:fragment="content">Content</div>
			</div>
			
		</div>
	</div>
	
	<div th:replace="common/footer :: footer">
	</div>

</body>
</html>