<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="services-nav">
	
		<div class="row bottom-border">
			<table>
				<tr>
					<td>
						<a class="btn btn-link" style="padding: 5px;" th:href="@{home}">
							<img  th:src="@{/resources/images/home.png}" class="img-thumbnail" alt="home" width="120" height="120">
						</a>
					</td>
					<td>
						<button type="button" class="btn btn-link" style="padding: 5px;">
							<img th:src="@{/resources/images/envelope.png}" class="img-thumbnail" alt="Email" width="120" height="120">
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-link" style="padding: 5px;">
							<img th:src="@{/resources/images/settings.png}" class="img-thumbnail" alt="Settings" width="120" height="120">
						</button>
					</td>
					<td>
					
						<form action="#" th:action="@{/logout}" method="post" style="float: right;">
				        	<button type="submit" class="btn btn-link" style="padding: 5px;">
								<img th:src="@{/resources/images/logout.png}" class="img-thumbnail" alt="Logout" width="120" height="120">
							</button>
				  		</form>
					</td>
				</tr>
			</table>
		</div>
	
		<div class="row">
			<div id="accordion">
			
				<h3>Administration</h3>
				<div style="padding: 15px 0 0 0;">
					<ul>
						<li><a class="btn btn-link" th:href="@{usersManagment}">User Management</a></li>	
						<li><button type="button" class="btn btn-link">Limit Control</button></li>
						<li><button type="button" class="btn btn-link">Charges Control</button></li>
					</ul>
				</div>
			
				<h3>Account Services</h3>
				<div style="padding: 15px 0 0 0;">
					<ul>
						<li><button type="button" class="btn btn-link">Detailed Statement</button></li>
						<li><button type="button" class="btn btn-link">Advanced Statement</button></li>
						<li><button type="button" class="btn btn-link">Open Account</button></li>
					</ul>
				</div>
				
				<h3>Money Transfers</h3>
				<div style="padding: 15px 0 0 0;">
					<ul>
						<li><button type="button" class="btn btn-link">Own Account Transfer</button></li>	
						<li><button type="button" class="btn btn-link">Within Bank Transfer</button></li>
						<li><button type="button" class="btn btn-link">Local Transfer</button></li>
						<li><button type="button" class="btn btn-link">International Transfer</button></li>
					</ul>
				</div>
				
				<h3>Others</h3>
				<div>
					<ul>
						<li><button type="button" class="btn btn-link">Salary Transfer</button></li>
						<li><button type="button" class="btn btn-link">Salary Reports</button></li>
						<li><button type="button" class="btn btn-link">Performace Reports</button></li>
						<li><button type="button" class="btn btn-link">Other Reports</button></li>
						<li><button type="button" class="btn btn-link">Cache Reports</button></li>
					</ul>
				</div>
				
				<h3>Reports</h3>
				<div>
					<ul>
						<li><button type="button" class="btn btn-link">Salary Transfer</button></li>
						<li><button type="button" class="btn btn-link">Salary Reports</button></li>
						<li><button type="button" class="btn btn-link">Performace Reports</button></li>
						<li><button type="button" class="btn btn-link">Other Reports</button></li>
						<li><button type="button" class="btn btn-link">Cache Reports</button></li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>