<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="content">
	
		<div class="well well-sm">Users Management</div>
		
		<div style="width: 100%;" class="row">
			<div class="square-empty"></div>
			<div class="square"></div>
			<div class="square-empty"></div>
		</div>
		
		<fieldset>
			<legend>User Details</legend>
			
			<table class="trans-summary">
				<tbody>
				    <tr class="border-btm">
				    	<td class="key"><span th:text="#{label.username}"></span>:</td>
						<td class="value"><span th:text="${userManagementFB.username}"></span></td>
				    </tr>
				    <tr class="border-btm">
				    	<td class="key"><span th:text="#{label.displayNameEn}"></span>:</td>
						<td class="value"><span th:text="${userManagementFB.displayEnglishName}"></span></td>
				    </tr>
				    <tr class="border-btm">
				    	<td class="key"><span th:text="#{label.displayNameAr}"></span>:</td>
						<td class="value"><span th:text="${userManagementFB.displayArabicName}"></span></td>
				    </tr>
				    <tr class="border-btm">
				    	<td class="key"><span th:text="#{label.ipan}"></span>:</td>
						<td class="value"><span th:text="${userManagementFB.ipan}"></span></td>
				    </tr>
				    <tr>
				    	<td class="key"><span th:text="#{label.civilId}"></span>:</td>
						<td class="value"><span th:text="${userManagementFB.civilId}"></span></td>
				    </tr>
				</tbody>
			</table>
			
		</fieldset>
		
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				
				<form id="admin-login-form" class="form-horizontal" action="#" 
				th:action="@{/admin/usersManagment/create}" method="post">
					<button type="submit" class="btn btn-primary" th:text="#{button.confirm}">confirm</button>
				</form>
				
				<form id="admin-login-form" class="form-horizontal" action="#" 
				th:action="@{/admin/usersManagment}" method="get">
					<button type="submit" class="btn btn-primary" th:text="#{button.cancel}">cancel</button>
				</form>
				
			</div>
		</div>
		
	</div>
</body>
</html>