<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/sitekeyTemplate">
      
<body>
	<div layout:fragment="content">
		<form id="admin-login-form" action="#" th:action="@{#}" th:object="${siteKeyFB}" method="post">
					
			<div class="form-group">
				<label for="inputUsername" th:text="#{label.question}">What is the last thing you did?</label>
			</div>
			
			<div class="form-group">
				<label for="answer" th:text="#{label.answer}">Answer</label>
				<input type="text" id="answer" class="width-25 form-control"  th:field="*{answer}" placeholder="Answer">
			</div>
			
			<input type="submit" class="btn btn-primary" name="_eventId_final" value="Submit" />
			<input type="submit" class="btn btn-primary" name="_eventId_initial" value="Back" />
			
		</form>
	</div>
</body>
</html>