<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/sitekeyTemplate">
      
<body id="ecorp-body">
	<div layout:fragment="content">
		<form id="admin-login-form" action="#" th:action="@{#}" th:object="${siteKeyFB}" method="post">
					
			<div class="form-group">
				<label>Please enter your password</label>
			</div>
			
			<div class="form-group">
				<label for="password" th:text="#{label.password}">Password</label>
				<input type="password" id="password" class="width-25 form-control" th:field="*{password}" placeholder="Password">
			</div>
			
			<input type="submit" class="btn btn-primary" name="_eventId_home" value="Login" />
			
		</form>
	</div>
</body>
</html>