<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/sitekeyTemplate">
      
<body>
	<div layout:fragment="content">
		<form id="admin-login-form" action="#" th:action="@{#}" th:object="${siteKeyFB}" method="post">
					
			<div class="form-group">
				<label for="inputUsername" th:text="#{label.username}">Username</label>
				<input type="text" id="inputUsername" class="form-control" th:field="*{username}" placeholder="Username">
			</div>
			
			<div class="form-group">
				<label for="partialAcc" th:text="#{label.accountNo}">Account No</label>
				<input type="text" id="partialAcc" class="width-25 form-control" maxlength="5" th:field="*{partialAcc}" placeholder="partial Account">
			</div>
			
			<input type="submit" class="btn btn-primary" name="_eventId_confirm" value="Login" />			
		</form>
	</div>
</body>
</html>